{% set classes = classes|default([])|merge(['hero-blog', 'py-8', 'md:py-12'])|filter(v => v is not empty) %}

{% set date_formatted = date %}

<section class="{{ classes|join(' ') }} cq-full">
  <div class="hero-blog--content container mx-auto flex flex-col gap-8 px-6 md:w-full md:gap-12 lg:w-10/12 xl:w-8/12">
    <p>
      <time datetime="{{ date_formatted }}">{{ date_formatted }}</time>
    </p>

    {{
      include(
        'deploya:heading',
        {
          heading_text: heading_text|default(''),
          level: level|default(1),
          text_color: 'default',
          text_size: 'heading-responsive-6xl',
          align: 'left'
        },
        with_context: false
      )
    }}

    {% if author is not empty %}
      <p>
        By {{ author }}
      </p>
    {% endif %}
  </div>

  <div class="w:full relative [&_.cq-full]:mx-0 [&_.cq-full]:w-full">
    <div class="relative mx-auto mt-8 px-6 md:mt-12 lg:w-full xl:w-10/12">
      {% include 'canvas:image' ignore missing with {
        src: media.src,
        alt: media.alt,
        width: media.width,
        height: media.height,
        loading: 'eager'
      } only %}
    </div>
    <div class="absolute -bottom-8 z-[-1] h-[calc(33.3%+32px)] w-full bg-accent md:-bottom-12 md:h-[calc(33.3%+48px)]"></div>
  </div>
</section>
